@import 'config';

// Normalize
@import 'normalize.css';

// Elements
@import 'elements/buttons';
@import 'elements/images';
@import 'elements/animations';
@import 'elements/footer';
@import 'elements/header';
@import 'elements/postTemplate';
@import 'elements/rightWidgets';

html {
	min-height: 100%;
	height: 100%;
}

iframe {
	border: 0;
}

// Base Styles
body {
	background: $colors-background;
	min-height: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: $default-text;
	> .pageWrap {
		height: auto;
		min-height: 100%;
		@include helpers-group;
	}
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
	display: block;
}

b,
strong {
	font-weight: 600;
}

.container {
	@include helpers-container;
}

.group {
	@include helpers-group;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 300;
}

a {
	color: $link-color;
	text-decoration: none;
	word-wrap: break-word;
}

h1 {
	font-size: 35px;
	font-weight: 300;
	margin: 0;
}

h2 {
	font-size: 18px;
	font-weight: 500;
}

p {
	line-height: 25px;
}

.feature-image {
	display: none;
}

img {
	max-width: 100%;
}

iframe {
	max-width: 100%;
}

@include respond-at(false, 950px) {
	h1 {
		font-size: 25px;
	}
}

@include respond-at(false, 550px) {
	pre {
		max-width: 100%;
		overflow: hidden;
	}
}

.custom-dropdown {
	position: relative;
}

.custom-dropdown select {
	background-color: #555;
	cursor: hand;
	cursor: pointer;
	outline: none;
	color: #fff;
	font-size: 15px;
	padding: 0.5em;
	font-weight: 300;
	padding-right: 2.5em;
	border: 0;
	margin: 0;
	border-radius: 3px;
	text-indent: 0.01px;
	text-overflow: '';
	-webkit-appearance: none; /* hide default arrow in chrome OSX */
	&:hover {
		background-color: #444;
	}
}

.custom-dropdown::before,
.custom-dropdown::after {
	content: '';
	position: absolute;
	pointer-events: none;
}

.custom-dropdown::after {
	/*  Custom dropdown arrow */
	content: '\25BC';
	height: 1em;
	font-size: 0.625em;
	line-height: 1;
	right: 1.2em;
	top: 50%;
	margin-top: -0.5em;
}

.custom-dropdown::before {
	/*  Custom dropdown arrow cover */
	width: 2em;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
	color: rgba(0, 0, 0, 0.3);
}

.custom-dropdown select[disabled]::after {
	color: rgba(0, 0, 0, 0.1);
}

.custom-dropdown::before {
	background-color: rgba(0, 0, 0, 0.15);
}

.custom-dropdown::after {
	color: rgba(0, 0, 0, 0.4);
}

@include respond-at(false, 485px) {
	.container {
		padding: 0 calc($pad / 2);
	}
	h1 {
		font-size: 20px;
	}
	h2 {
		font-size: 16px;
	}
}

@include respond-at(false, 400px) {
	body {
		font-size: 15px;
	}
}
