@import '../config';
@import '../mixins/transitions';

@-webkit-keyframes borderFlareHover {
	0% {
		border-bottom: 8px solid #f69c00;
	}
	100% {
		border-bottom: 8px solid lighten(#f69c00, 20);
	}
}

@-webkit-keyframes borderFlare {
	0% {
		border-bottom: 8px solid lighten(#f69c00, 20);
	}
	100% {
		border-bottom: 8px solid #f69c00;
	}
}

@-webkit-keyframes titleBlur {
	0% {
		-webkit-filter: blur(50px);
	}
	100% {
		-webkit-filter: blur(0px);
	}
}
