.button {
	&.red {
		position: relative;
		color: #fff;
		text-decoration: none;
		background-color: $red-color;
		font-weight: 300;
		display: inline-block;
		padding: 7px 30px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		-webkit-box-shadow: 0px 9px 0px darken($red-color, 20),
			0px 9px 25px rgba(0, 0, 0, 0.7);
		-moz-box-shadow: 0px 9px 0px darken($red-color, 20),
			0px 9px 25px rgba(0, 0, 0, 0.7);
		box-shadow: 0px 9px 0px darken($red-color, 20),
			0px 9px 25px rgba(0, 0, 0, 0.7);
		text-align: center;
		-webkit-transition: all 0.1s ease;
		-moz-transition: all 0.1s ease;
		-ms-transition: all 0.1s ease;
		-o-transition: all 0.1s ease;
		transition: all 0.1s ease;
		&:active {
			-webkit-box-shadow: 0px 3px 0px $red-color, 0px 3px 6px rgba(0, 0, 0, 0.9);
			-moz-box-shadow: 0px 3px 0px $red-color, 0px 3px 6px rgba(0, 0, 0, 0.9);
			box-shadow: 0px 3px 0px $red-color, 0px 3px 6px rgba(0, 0, 0, 0.9);
			position: relative;
			top: 6px;
		}
	}
}
