@import '../config';

.header {
	background: $header-color;
	height: 65px;
	position: relative;
	z-index: 1;
	background-image: linear-gradient(#242424, #000);
	.logo {
		float: left;
		margin-top: 12px;
	}
	.nav {
		float: right;
		line-height: 60px;
		a {
			font-weight: 300;
			color: white;
			display: block;
			float: left;
			margin-right: $pad * 3;
			font-size: 18px;
			border-top: 5px solid transparent;
			text-align: center;
			@include animate(popDown, 0.3s, 0s);
			&.last {
				margin-right: 0;
			}
			&:hover {
				@include animate(popUp, 0.3s, 0s);
			}
			&.selected {
				color: #fff;
				border-top: 5px solid #fff;
				font-weight: 500;
			}
		}
	}
}

@include respond-at(false, 530px) {
	body {
		padding-top: 25px;
	}
	.header {
		position: fixed;
		border-bottom: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		.container {
			display: flex;
			align-items: center;
		}
		.logo {
			width: 100%;
			max-width: 100px;
			height: 35px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			margin-bottom: 10px;
			margin-right: 30px;
		}
		.nav {
			width: 100%;
			line-height: 50px;
			display: flex;
			align-items: center;
			a {
				flex: 1;
				margin-right: 15px;
				font-size: 13px;
				text-align: center;
				padding-right: 0;
				&.selected {
					border-top: 3px solid #fff;
				}
			}
		}
	}
}
