.postTemplate {
	min-height: 100vh;
	position: relative;
	.loader {
		margin-top: 100px;
		text-align: center;
		span {
			display: block;
			margin-top: $pad;
		}
	}
	.hero {
		position: relative;
		border: 1px solid #111;
		background: $header-color;
		min-height: 180px;
		padding-bottom: $pad * 2;
		.bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
			filter: blur(2px);
			opacity: 0.1;
		}
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 102%;
			background-image: linear-gradient(
				rgba(#f00, 0.1) 60%,
				rgba($colors-background, 1)
			);
		}
		.container {
			padding-top: 35px;
		}
		.title {
			margin-right: 380px;
			h1 {
				color: white;
				text-shadow: 0 0 1px black;
			}
			h2 {
				margin-top: $pad;
				color: white;
				text-shadow: 0 0 1px black;
				font-weight: 300;
			}
			a {
				display: block;
				margin-top: $pad;
				color: white;
				text-shadow: 0 0 1px black;
				font-size: 15px;
			}
		}
	}
	.entry {
		position: relative;
		margin-right: 350px;
		.templateContent {
			margin-top: $pad;
			h1 {
				font-size: 25px;
			}
			img {
				max-width: 100%;
				border: 0 !important;
			}
			a {
				text-decoration: underline;
				font-weight: 500;
				color: $link-color;
			}
			p {
				margin-bottom: $pad;
				line-height: 29px;
				font-size: 16px;
			}
		}
	}
}

@include respond-at(false, 950px) {
	.postTemplate .entry .templateContent .text p {
		font-size: 15px;
	}
}

@include respond-at(false, 840px) {
	.postTemplate,
	.postTemplate .container {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-direction: column;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		.hero {
			-webkit-box-ordinal-group: 0;
			-moz-box-ordinal-group: 0;
			-ms-flex-order: 0;
			-webkit-order: 0;
			order: 0;
			min-height: 130px;
			.title {
				margin-right: 0;
			}
		}
		.entry {
			-webkit-box-ordinal-group: 1;
			-moz-box-ordinal-group: 1;
			-ms-flex-order: 1;
			-webkit-order: 1;
			order: 1;
			margin-right: 0;
			padding-bottom: 15px;
			.templateContent {
				margin-right: 0;
				padding-bottom: 0;
			}
		}
		.rightWidgets {
			-webkit-box-ordinal-group: 2;
			-moz-box-ordinal-group: 2;
			-ms-flex-order: 2;
			-webkit-order: 2;
			order: 2;
			padding: 0;
		}
	}
}

@include respond-at(false, 670px) {
	.postTemplate {
		.loader {
			margin-top: 50px;
		}
	}
}

@include respond-at(false, 485px) {
	.postTemplate {
		.hero {
			min-height: 90px;
			text-align: center;
			.title {
				h1 {
					font-size: 27px;
				}
				a {
					display: none;
				}
			}
		}
	}
}
