.rightWidgets {
	position: absolute;
	top: -190px;
	right: 30px;
	width: 300px;
	.nextPost {
		@include helpers-group;
		z-index: 10;
		position: relative;
		padding: $pad;
		background: #111;
		font-weight: 500;
		.custom-dropdown {
			margin-bottom: 15px;
			select {
				width: 100%;
			}
		}
		strong {
			display: block;
			font-weight: 600;
		}
		.title {
			display: block;
			margin-top: $pad;
			font-size: 13px;
			margin-right: 0;
			font-weight: 500;
			line-height: 20px;
		}
		.desc {
			display: block;
			font-size: 13px;
			line-height: 22px;
			margin-top: $pad;
			font-weight: 300;
			overflow: hidden;
		}
		img {
			max-width: 100%;
		}
		iframe {
			max-width: 100%;
		}
		.button {
			margin-top: $pad;
			margin-bottom: $pad;
		}
		.photoPreview {
			max-height: 200px;
			overflow: hidden;
		}
	}
	.aboutMe {
		margin-top: $pad;
		@include helpers-group;
		.pic {
			float: left;
			width: 100px;
			border-radius: 50%;
			border: 1px solid #000;
		}
		.info {
			float: left;
			margin-left: $pad;
			padding-top: $pad;
			span,
			strong {
				display: block;
				font-size: 14px;
				line-height: 18px;
			}
			strong {
				font-size: 16px;
				font-weight: 600;
				margin-bottom: calc($pad / 2);
			}
		}
	}
	.social {
		@include helpers-group;
		margin-top: $pad * 2;
		a {
			float: left;
			margin-right: $pad;
			font-size: 30px;
			color: #aaa;
			display: block;
			&.last {
				margin-right: 0;
			}
			&:hover {
				color: $link-color;
			}
		}
	}
	&.fixed {
		position: fixed;
		top: 30px;
		z-index: 1000;
	}
}

@include respond-at(false, 840px) {
	.rightWidgets {
		margin-top: $pad;
		position: relative;
		top: auto;
		right: auto;
		width: auto;
		padding: 30px 15px 15px 15px;
		.nextPost {
			margin-top: 0;
		}
	}
}

@include respond-at(false, 485px) {
	.rightWidgets {
		margin-top: $pad;
		position: relative;
		z-index: 0;
		top: auto;
		right: auto;
		width: auto;
		.nextPost {
			margin-top: 0;
		}
	}
}
