@mixin css_arrow(
	$direction: 'up',
	$top: auto,
	$bottom: auto,
	$left: auto,
	$right: auto,
	$color: white,
	$border-color: red,
	$size: 10px,
	$border-size: 2px
) {
	&:after {
		@if $direction == 'left' {
			border-bottom: $size solid transparent;
			border-right: $size solid $color;
			border-top: $size solid transparent;
		} @else if $direction == 'right' {
			border-bottom: $size solid transparent;
			border-left: $size solid $color;
			border-top: $size solid transparent;
		} @else if $direction == 'up' {
			border-bottom: $size solid $color;
			border-left: $size solid transparent;
			border-right: $size solid transparent;
		} @else if $direction == 'down' {
			border-right: $size solid transparent;
			border-left: $size solid transparent;
			border-top: $size solid $color;
		}
		display: block;
		content: ' ';
		top: $top;
		bottom: $bottom;
		left: $left;
		right: $right;
		width: 0;
		height: 0;
		position: absolute;
	}
	&:before {
		@if $direction == 'left' {
			border-bottom: $size + $border-size solid transparent;
			border-right: $size + $border-size solid $border-color;
			border-top: $size + $border-size solid transparent;
			@if $bottom == 'auto' {
				$top: $top - $border-size;
			}
			@if $top == 'auto' {
				$bottom: $bottom - $border-size;
			}
			@if $left == 'auto' {
				$right: $right;
			}
			@if $right == 'auto' {
				$left: $left - $border-size;
			}
		} @else if $direction == 'right' {
			border-bottom: $size + $border-size solid transparent;
			border-left: $size + $border-size solid $border-color;
			border-top: $size + $border-size solid transparent;
			@if $bottom == 'auto' {
				$top: $top - $border-size;
			}
			@if $top == 'auto' {
				$bottom: $bottom - $border-size;
			}
			@if $left == 'auto' {
				$right: $right - $border-size;
			}
			@if $right == 'auto' {
				$left: $left;
			}
		} @else if $direction == 'up' {
			@if $bottom == 'auto' {
				$top: $top - $border-size;
			}
			@if $top == 'auto' {
				$bottom: $bottom;
			}
			@if $left == 'auto' {
				$right: $right - $border-size;
			}
			@if $right == 'auto' {
				$left: $left - $border-size;
			}
			border-bottom: $size + $border-size solid $border-color;
			border-left: $size + $border-size solid transparent;
			border-right: $size + $border-size solid transparent;
		} @else if $direction == 'down' {
			@if $bottom == 'auto' {
				$top: $top;
			}
			@if $top == 'auto' {
				$bottom: $bottom - $border-size;
			}
			@if $left == 'auto' {
				$right: $right - $border-size;
			}
			@if $right == 'auto' {
				$left: $left - $border-size;
			}
			border-right: $size + $border-size solid transparent;
			border-left: $size + $border-size solid transparent;
			border-top: $size + $border-size solid $border-color;
		}
		display: block;
		content: ' ';
		top: $top;
		bottom: $bottom;
		left: $left;
		right: $right;
		width: 0;
		height: 0;
		position: absolute;
	}
}
